@import '../../reset.less';
.activity {
  position: relative;
}
.act-wrap {
  position: relative;
}

.act-gap {
  height: 30px;
  background-color: #f6f6f6;
}

.act-header {
  .flex();
  flex-direction: column;
  height: 420px;
  &-mt {
    margin-top: 20px;
  }
  &-title {
    font-size: @fz-h1;
  }
  &-input {
    color: #808080;
    text-align: center;
    font-size: @fz-h2;
    border-bottom: 2px solid #9a9a9a;
  }
  &-info {
    width: 90%;
    background-color: rgba(255,255,255,0.2);
    text-indent: 2em;
    height: 180px;
    padding: 10px;
    // border: 2px solid #9a9a9a;
    border-radius: 20px;
    font-size: @fz-text;
    box-shadow: 0 0 4px #808080;
    overflow: hidden;
  }
}

.act-default {
  .flex();
  justify-content: center;

  &-text {
    color: #808080;
    font-size: @fz-h3;
  }
}

.act-card {
  .flex();
  flex-direction: column;
  padding: 60px 0;
  margin-bottom: 30px;
  background-color: #ecffeb;

  &-vote {
    justify-content: center;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: #2b2;
  }
}

.act-button {
  .flex();
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

  &-fake {
    height: 200px;
  }
  &-gray {
    background-color: #808080;
  }
  &-text {
    font-size: @fz-h2;
  }
}
